﻿<div class="container-fluid page-content" ng-controller="itemController as ctrl">

    <form>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" ng-src="{{ctrl.item.image.src}}" alt="">
            <div class="card-body">
                <h5 class="card-title"><input type="text" class="form-control" ng-model="ctrl.item.title"/></h5>
                <p class="card-text"><textarea class="form-control" ng-model="ctrl.item.body_html"></textarea></p>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th ng-repeat="opt in ctrl.item.options">{{opt.name}}</th>
                        <th>Price</th>
                        <th>SKU</th>
                        <th>Inventory QTY</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="(key, vr) in ctrl.item.variants">
                        <td ng-if="vr.option1 !== null">
                            <select class="form-control" ng-options="o as o for o in ctrl.item.options[0].values" ng-model="ctrl.item.variants[key].option1">
                        </td>
                        <td ng-if="vr.option2 !== null">
                            <select class="form-control" ng-options="o as o for o in ctrl.item.options[1].values" ng-model="ctrl.item.variants[key].option2">
                        </td>
                        <td ng-if="vr.option3 !== null">
                            <select class="form-control" ng-options="o as o for o in ctrl.item.options[2].values" ng-model="ctrl.item.variants[key].option3">
                        </td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="text" class="form-control" ng-model="ctrl.item.variants[key].price" />
                            </div>
                        </td>
                        <td><input type="text" class="form-control" ng-model="ctrl.item.variants[key].sku" /></td>
                        <td>{{ctrl.item.variants[key].inventory_quantity}}</td>
                    </tr>
                </tbody>

            </table>

            <div class="card-footer">
                <a href="#" class="btn btn-primary" ng-click="ctrl.update()">Update Item</a>
                <a href="#" class="btn btn-danger" ng-click="ctrl.delete()">Delete Item</a>
            </div>
        </div>
    </div>

</div>
