﻿<div class="container-fluid page-content" ng-controller="newController as ctrl">

    <h5>New Product</h5>

    <form>

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" ng-model="ctrl.product.title">
    </div>

    <div class="form-group">
        <label for="title">Description</label>
        <textarea class="form-control" id="desc" ng-model="ctrl.product.desc"></textarea>
    </div>

    <div class="form-group">
        <label for="title">Price</label>
        <input type="text" class="form-control" id="price" placeholder="0.00" ng-model="ctrl.product.price">
    </div>

    <div class="form-group">
        <label for="title">SKU</label>
        <input type="text" class="form-control" id="sku" placeholder="" ng-model="ctrl.product.sku">
    </div>

    <a href="#" class="btn btn-success" ng-click="ctrl.create()">Add Product</a>

    </form>
</div>
