﻿<div class="container-fluid page-content" ng-controller="productsController as ctrl">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <form class="form-inline my-2 my-lg-0">

        <label>Name &nbsp;
            <input class="form-control mr-sm-2" type="search" placeholder="Search" ng-model="ctrl.filters.title">
        </label>

        <label>Start Date &nbsp;
            <input class="form-control mr-sm-2" type="date" ng-model="ctrl.filters.startDate">
        </label>

        <label>End Date &nbsp;
            <input class="form-control mr-sm-2" type="date" ng-model="ctrl.filters.endDate">
        </label>

      <button class="btn btn-outline-primary my-2 my-sm-0 float-right" type="submit" ng-click="ctrl.getProducts()">Search</button>

    </form>

</nav>

<br>

    <h2>Products</h2>

    <div class="card-deck">
        <div class="card" style="width: 18rem;" ng-repeat="prod in ctrl.products">
            <img class="card-img-top" ng-src="{{prod.image.src}}" alt="">
            <div class="card-body">
                <h5 class="card-title">{{prod.title}}</h5>
                <p class="card-text">{{prod.body_html}}</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" ng-href="product?pid={{prod.id}}">More Info</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Add Product</h5>
                <p class="card-text">Add a new product</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-success" ng-href="new">Add product</a>
            </div>
        </div>
    </div>

</div>
